@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Roboto&display=swap');
/* Character Select */

body {
    background: #191b1b;
    font-family: 'Cinzel Decorative', cursive;
}

html,
body,
p,
h1,
footer {
    margin: 0;
    padding: 0;
}

h1 {
    color: #e6e4e4;
    font-size: 3em;
    text-transform: uppercase;
}

.wrapper {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.character {
    background-color: #e6e4e4;
    width: 200px;
    display: inline-block;
    border: 5px solid #3e2410;
    margin: 15px;
}

.character img {
    max-width: 200px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.character_info {
    background-color: #3e2410;
    color: #e6e4e4;
}

.name {
    font-size: 16px;
}

.culture {
    font-size: 12px;
}

.info {
    background-color: #3e2410;
    color: #e6e4e4;
    height: 150px;
    text-align: center;
}

.info h1 {
    line-height: 1.8em;
}

.info p {
    font-size: 2em;
}

.logo {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.logo_board {
    position: absolute;
    width: 180px;
    top: 30px;
    left: 1250px;
}

#btn_start {
    font-family: 'Cinzel Decorative', cursive;
    height: 80px;
    background: #e6e4e4;
    color: #191b1b;
    border: 3px solid #191b1b;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 1.8em;
    font-weight: 600;
}

footer {
    height: 150px;
}

/* Board Game */

#token-one {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 6px;
    background: black;
    background-size: 90px;
    background-repeat: no-repeat;
}

#token-two {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 6px;
    background: black;
    background-size: 90px;
    background-repeat: no-repeat;
}

.tiles {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid burlywood;
}

.dice {
    position: absolute;
    top: 280px;
    left: 400px;
    border: 3px solid #cccccc;
    border-radius: 14px;
}

#btn {
    position: absolute;
    top: 400px;
    left: 419px
}

.text-wrap {
    position: absolute;
    top: 240px;
    left: 550px;
}

.text-wrap p {
    color: #e6e4e4;
    margin: 15px 0 5px;
}

.game-text_p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    padding: 5px;
    background-color: beige;
    height: 60px;
    width: 400px;
    border-radius: 14px;
}

.game-text_p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    padding: 5px;
    background-color: beige;
    height: 60px;
    width: 400px;
    border-radius: 14px;
}

#id1 {
    background-image: url(../images/tiles/start.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id6 {
    background-image: url(../images/tiles/littlefinger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id10 {
    background-image: url(../images/tiles/dragons.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id14 {
    background-image: url(../images/tiles/joffrey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id18 {
    background-image: url(../images/tiles/walkers.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id22 {
    background-image: url(../images/tiles/trebuchet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id25 {
    background-image: url(../images/tiles/wall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id29 {
    background-image: url(../images/tiles/wildfire.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e4e4;
    z-index: -1;
}

#id30 {
    background-image: url(../images/tiles/finish.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
    z-index: -1;
}

/* Game Over */

#winner-title {
    text-align: center;
}

#winner {
    text-align: center;
    font-size: 2em;
    color: #e6e4e4;
    margin-top: 20px;
}

#winner-img {
    text-align: center;
    margin-top: 40px;
}

#credits {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/* Under 550px width */

@media (max-width: 550px) {
    h1 {
        font-size: 1.5em;
    }

    .info {
        height: 80px;
    }

    .info p {
        font-size: 1.5em;
    }

    .character {
        width: 130px;
    }

    .character img {
        max-width: 130px;
        max-height: 100px;
    }

    .name {
        font-size: 0.7em;
    }

    .culture {
        font-size: 0.6em;
    }

    #btn_start {
        height: 60px;
        margin-top: 10px;
    }

    .logo {
        max-width: 150px;
    }
}